<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>AEFC393DAD821ECC1A0091044F62AB6D</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
