<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iTunesHelper</string>
	<key>CFBundleGetInfoString</key>
	<string>iTunes Helper 10.0.1, © 2000-2010 Apple Inc. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>iTunesHelper.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iTunesHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTunes Helper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>10.0.1</string>
	<key>CFBundleSignature</key>
	<string>ithp</string>
	<key>CFBundleVersion</key>
	<string>10.0.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocCorruptionAbort</key>
		<string>1</string>
	</dict>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.4.9</string>
		<key>ppc</key>
		<string>10.4.9</string>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
</dict>
</plist>
