<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entries</key>
	<array>
		<dict>
			<key>matchString</key>
			<string>gesprochen</string>
			<key>resourceFile</key>
			<string>genre-spoken.jpg</string>
		</dict>
		<dict>
			<key>matchString</key>
			<string>non-fiction</string>
			<key>resourceFile</key>
			<string>genre-nonfiction.jpg</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>movie</string>
			<key>matchString</key>
			<string>komödie</string>
			<key>resourceFile</key>
			<string>genre-comedyM.jpg</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>movie</string>
			<key>matchString</key>
			<string>kurzfilm</string>
			<key>resourceFile</key>
			<string>genre-shortfilmsM.jpg</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>movie</string>
			<key>matchString</key>
			<string>liebe</string>
			<key>resourceFile</key>
			<string>genre-romanceM.jpg</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>movie</string>
			<key>matchString</key>
			<string>kind</string>
			<key>resourceFile</key>
			<string>genre-kidsM.jpg</string>
		</dict>
		<dict>
			<key>kind</key>
			<string>movie</string>
			<key>matchString</key>
			<string>familie</string>
			<key>resourceFile</key>
			<string>genre-kidsM.jpg</string>
		</dict>
	</array>
</dict>
</plist>
