<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdditionalMemToReserve_0</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_1</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_2</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_3</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_4</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_5</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_6</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_7</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_8</key>
	<integer>0</integer>
	<key>AdditionalMemToReserve_9</key>
	<integer>0</integer>
	<key>BootyTag</key>
	<integer>80</integer>
	<key>DefaultStateForFormatDataArea</key>
	<integer>0</integer>
	<key>DefaultVolumeLabel</key>
	<string>iPod</string>
	<key>DriveCount</key>
	<integer>10</integer>
	<key>DriveDescription_0</key>
	<string>Data</string>
	<key>DriveDescription_1</key>
	<string>Boot Manager</string>
	<key>DriveDescription_2</key>
	<string>USB Mass Storage Class</string>
	<key>DriveDescription_3</key>
	<string>USB Mass Storage Class</string>
	<key>DriveDescription_4</key>
	<string>Player</string>
	<key>DriveDescription_5</key>
	<string>Player</string>
	<key>DriveDescription_6</key>
	<string>Resources</string>
	<key>DriveDescription_7</key>
	<string>Resources</string>
	<key>DriveDescription_8</key>
	<string>Extra</string>
	<key>DriveDescription_9</key>
	<string>Extra</string>
	<key>DriveName_0</key>
	<string>Untitled</string>
	<key>DriveName_1</key>
	<string>bootmanager.sb</string>
	<key>DriveName_2</key>
	<string>usbmsc.sb</string>
	<key>DriveName_3</key>
	<string>usbmsc.sb</string>
	<key>DriveName_4</key>
	<string>stmpsys.sb</string>
	<key>DriveName_5</key>
	<string>stmpsys.sb</string>
	<key>DriveName_6</key>
	<string>resource.bin</string>
	<key>DriveName_7</key>
	<string>resource.bin</string>
	<key>DriveName_8</key>
	<string>extra.bin</string>
	<key>DriveName_9</key>
	<string>extra.bin</string>
	<key>DriveTag_0</key>
	<integer>10</integer>
	<key>DriveTag_1</key>
	<integer>80</integer>
	<key>DriveTag_2</key>
	<integer>1</integer>
	<key>DriveTag_3</key>
	<integer>17</integer>
	<key>DriveTag_4</key>
	<integer>0</integer>
	<key>DriveTag_5</key>
	<integer>16</integer>
	<key>DriveTag_6</key>
	<integer>2</integer>
	<key>DriveTag_7</key>
	<integer>18</integer>
	<key>DriveTag_8</key>
	<integer>3</integer>
	<key>DriveTag_9</key>
	<integer>19</integer>
	<key>DriveType_0</key>
	<integer>0</integer>
	<key>DriveType_1</key>
	<integer>1</integer>
	<key>DriveType_2</key>
	<integer>1</integer>
	<key>DriveType_3</key>
	<integer>1</integer>
	<key>DriveType_4</key>
	<integer>1</integer>
	<key>DriveType_5</key>
	<integer>1</integer>
	<key>DriveType_6</key>
	<integer>1</integer>
	<key>DriveType_7</key>
	<integer>1</integer>
	<key>DriveType_8</key>
	<integer>1</integer>
	<key>DriveType_9</key>
	<integer>1</integer>
	<key>ExecutableName</key>
	<string>Updater.app</string>
	<key>IsDriveEncrypted_0</key>
	<integer>0</integer>
	<key>IsDriveEncrypted_1</key>
	<integer>1</integer>
	<key>IsDriveEncrypted_2</key>
	<integer>1</integer>
	<key>IsDriveEncrypted_3</key>
	<integer>1</integer>
	<key>IsDriveEncrypted_4</key>
	<integer>1</integer>
	<key>IsDriveEncrypted_5</key>
	<integer>1</integer>
	<key>IsDriveEncrypted_6</key>
	<integer>1</integer>
	<key>IsDriveEncrypted_7</key>
	<integer>1</integer>
	<key>IsDriveEncrypted_8</key>
	<integer>0</integer>
	<key>IsDriveEncrypted_9</key>
	<integer>0</integer>
	<key>PlayerDriveIndex</key>
	<integer>4</integer>
	<key>SCSIMfgString</key>
	<string>Apple</string>
	<key>SCSIProductString</key>
	<string>iPod</string>
	<key>SPTDriverClassName</key>
	<string>com_Apple_iPod_driver_VendorSpecificType00UC</string>
	<key>USBProductID</key>
	<integer>4864</integer>
	<key>USBVendorID</key>
	<integer>1452</integer>
	<key>UsbMscDriveIndex</key>
	<integer>2</integer>
	<key>UseFAT16</key>
	<false/>
	<key>UpdateExtra</key>
	<false/>
	<key>UseScsiProductSubstringQualifier</key>
	<false/>
</dict>
</plist>
