<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entries</key>
	<array>
		<dict>
			<key>matchString</key><string>action</string>
			<key>resourceFile</key><string>genre-actionM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>adventure</string>
			<key>resourceFile</key><string>genre-actionM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>alternative</string>
			<key>resourceFile</key><string>genre-alternative.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>animation</string>
			<key>resourceFile</key><string>genre-animation.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>blues</string>
			<key>resourceFile</key><string>genre-blues.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>audiobook</string>
			<key>resourceFile</key><string>genre-books.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>book</string>
			<key>resourceFile</key><string>genre-books.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>business</string>
			<key>resourceFile</key><string>genre-business.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>children</string>
			<key>resourceFile</key><string>genre-childrens.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>classical</string>
			<key>resourceFile</key><string>genre-classical.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>classic</string>
			<key>resourceFile</key><string>genre-classicT.jpg</string>
			<key>kind</key><string>tvshow</string>
			<key>exactStringMatch</key><true/>
		</dict>
		<dict>
			<key>matchString</key><string>classic</string>
			<key>resourceFile</key><string>genre-classicsM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>comedy</string>
			<key>resourceFile</key><string>genre-comedy.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>comedy</string>
			<key>resourceFile</key><string>genre-comedyM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>country</string>
			<key>resourceFile</key><string>genre-country.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>dance</string>
			<key>resourceFile</key><string>genre-dance.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>house</string>
			<key>resourceFile</key><string>genre-dance.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>techno</string>
			<key>resourceFile</key><string>genre-dance.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>trance</string>
			<key>resourceFile</key><string>genre-dance.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>documentary</string>
			<key>resourceFile</key><string>genre-documentaryM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>drama</string>
			<key>resourceFile</key><string>genre-drama.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>drama</string>
			<key>resourceFile</key><string>genre-dramaM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>education</string>
			<key>resourceFile</key><string>genre-education.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>teaching</string>
			<key>resourceFile</key><string>genre-education.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>high</string>
			<key>resourceFile</key><string>genre-education.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>electronic</string>
			<key>resourceFile</key><string>genre-electronic.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>electronica</string>
			<key>resourceFile</key><string>genre-electronic.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>engineering</string>
			<key>resourceFile</key><string>genre-engineering.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>kids</string>
			<key>resourceFile</key><string>genre-kids.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>family</string>
			<key>resourceFile</key><string>genre-kids.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>finearts</string>
			<key>resourceFile</key><string>genre-finearts.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>fine arts</string>
			<key>resourceFile</key><string>genre-finearts.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>art</string>
			<key>resourceFile</key><string>genre-finearts.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>kids</string>
			<key>resourceFile</key><string>genre-kidsM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>family</string>
			<key>resourceFile</key><string>genre-kidsM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>folk</string>
			<key>resourceFile</key><string>genre-folk.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>health</string>
			<key>resourceFile</key><string>genre-health.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>medicine</string>
			<key>resourceFile</key><string>genre-health.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>hip hop</string>
			<key>resourceFile</key><string>genre-hiphop.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>rap</string>
			<key>resourceFile</key><string>genre-hiphop.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>history</string>
			<key>resourceFile</key><string>genre-history.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>holiday</string>
			<key>resourceFile</key><string>genre-holiday.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>holiday</string>
			<key>resourceFile</key><string>genre-holidayM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>horror</string>
			<key>resourceFile</key><string>genre-horrorM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>humanities</string>
			<key>resourceFile</key><string>genre-humanities.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>independent</string>
			<key>resourceFile</key><string>genre-independentM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>jazz</string>
			<key>resourceFile</key><string>genre-jazz.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>j pop</string>
			<key>resourceFile</key><string>genre-jpop.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>jpop</string>
			<key>resourceFile</key><string>genre-jpop.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>Kayokyoku</string>
			<key>resourceFile</key><string>genre-kayokyoku.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>language</string>
			<key>resourceFile</key><string>genre-language.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>latin</string>
			<key>resourceFile</key><string>genre-latin.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>literature</string>
			<key>resourceFile</key><string>genre-literature.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>math</string>
			<key>resourceFile</key><string>genre-mathematics.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>music</string>
			<key>resourceFile</key><string>genre-musicM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>new age</string>
			<key>resourceFile</key><string>genre-newage.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>nonfiction</string>
			<key>resourceFile</key><string>genre-nonfiction.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>pop</string>
			<key>resourceFile</key><string>genre-pop.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>r b</string>
			<key>resourceFile</key><string>genre-rb.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>rhythm</string>
			<key>resourceFile</key><string>genre-rb.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>soul</string>
			<key>resourceFile</key><string>genre-rb.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>reality</string>
			<key>resourceFile</key><string>genre-reality.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>reggae</string>
			<key>resourceFile</key><string>genre-reggae.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>christian</string>
			<key>resourceFile</key><string>genre-christian.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>gospel</string>
			<key>resourceFile</key><string>genre-christian.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>religious</string>
			<key>resourceFile</key><string>genre-christian.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>rock</string>
			<key>resourceFile</key><string>genre-rock.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>romance</string>
			<key>resourceFile</key><string>genre-romanceM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>scifi</string>
			<key>resourceFile</key><string>genre-scifi.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>sci fi</string>
			<key>resourceFile</key><string>genre-scifi.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>science fiction</string>
			<key>resourceFile</key><string>genre-scifi.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>fantasy</string>
			<key>resourceFile</key><string>genre-scifi.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>scifi</string>
			<key>resourceFile</key><string>genre-scifiM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>sci fi</string>
			<key>resourceFile</key><string>genre-scifiM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>science fiction</string>
			<key>resourceFile</key><string>genre-scifiM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>fantasy</string>
			<key>resourceFile</key><string>genre-scifiM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>science</string>
			<key>resourceFile</key><string>genre-science.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>social science</string>
			<key>resourceFile</key><string>genre-socialScience.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>short film</string>
			<key>resourceFile</key><string>genre-shortfilmsM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>shorts</string>
			<key>resourceFile</key><string>genre-shortfilmsM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>soundtrack</string>
			<key>resourceFile</key><string>genre-soundtrack.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>spoken</string>
			<key>resourceFile</key><string>genre-spoken.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>sports</string>
			<key>resourceFile</key><string>genre-sports.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>sports</string>
			<key>resourceFile</key><string>genre-sportsM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>teen</string>
			<key>resourceFile</key><string>genre-teens.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>thriller</string>
			<key>resourceFile</key><string>genre-thrillerM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>vocal</string>
			<key>resourceFile</key><string>genre-vocal.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>western</string>
			<key>resourceFile</key><string>genre-westernM.jpg</string>
			<key>kind</key><string>movie</string>
		</dict>
		<dict>
			<key>matchString</key><string>world</string>
			<key>resourceFile</key><string>genre-world.jpg</string>
		</dict>
		

		<dict>
			<key>matchString</key><string>filmmusik</string>
			<key>resourceFile</key><string>genre-soundtrack.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>klassik</string>
			<key>resourceFile</key><string>genre-classical.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musik fur kinder</string>
			<key>resourceFile</key><string>genre-childrens.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>weltmusik</string>
			<key>resourceFile</key><string>genre-world.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>alternativa</string>
			<key>resourceFile</key><string>genre-alternative.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>clasica</string>
			<key>resourceFile</key><string>genre-classical.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musica para ninos</string>
			<key>resourceFile</key><string>genre-childrens.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>electronica</string>
			<key>resourceFile</key><string>genre-electronic.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musica latina</string>
			<key>resourceFile</key><string>genre-latin.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>bandas sonoras</string>
			<key>resourceFile</key><string>genre-soundtrack.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musica internacional</string>
			<key>resourceFile</key><string>genre-world.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>classique</string>
			<key>resourceFile</key><string>genre-classical.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>electronique</string>
			<key>resourceFile</key><string>genre-electronic.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musique de films</string>
			<key>resourceFile</key><string>genre-soundtrack.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musique latino-americaine</string>
			<key>resourceFile</key><string>genre-latin.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musique pour enfants</string>
			<key>resourceFile</key><string>genre-childrens.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musiques du monde</string>
			<key>resourceFile</key><string>genre-world.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musica per bambini</string>
			<key>resourceFile</key><string>genre-childrens.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>classica</string>
			<key>resourceFile</key><string>genre-classical.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>elettronica</string>
			<key>resourceFile</key><string>genre-electronic.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>latina</string>
			<key>resourceFile</key><string>genre-latin.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>colonne sonore</string>
			<key>resourceFile</key><string>genre-soundtrack.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>altrock</string>
			<key>resourceFile</key><string>genre-alternative.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>punk</string>
			<key>resourceFile</key><string>genre-alternative.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>alternrock</string>
			<key>resourceFile</key><string>genre-alternative.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>dance hall</string>
			<key>resourceFile</key><string>genre-reggae.jpg</string>
		</dict>
		<dict>
			<key>matchString</key><string>musical score</string>
			<key>resourceFile</key><string>genre-soundtrack.jpg</string>
		</dict>
	</array>
</dict>
</plist>
